[submodule "pong"]
	path = pong
	url = https://github.com/DylanDavidson/pong.git
[submodule "angryspheres"]
	path = angryspheres
	url = https://github.com/DylanDavidson/angryspheres.git
[submodule "pacman"]
	path = pacman
  url = https://github.com/DylanDavidson/pacman.git
